.textField{
    width: 100vw;
    margin-top: 3rem;
}

@media (max-width: 720px){
    .select{
        width: 35vw!important;
    }
}

@media (max-width: 450px){
    .select{
        width: 50vw!important;
    }
}

@media (max-width: 360px){
    .select{
        width: 70vw!important;
    }
}
