@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-family: 'Ubuntu', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}